---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SendMeEmail from "../components/send-me-email"
---

<Layout title="JW-Hello">
	<main>
		<div class="absolute bottom-0 right-0 p-5">
			<SendMeEmail/>
		</div>
	
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		padding: 1em;
		max-width: 60ch;
	}
</style>
